<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigTV_normal_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,404},{388,376}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{388,376}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,748},{388,356}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{388,356}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{388,374}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{388,374}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_normal_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,378},{388,374}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{388,374}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_normal_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,754},{388,356}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{388,356}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_normal_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{388,376}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{388,376}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_pressed_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,380},{388,366}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{388,366}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_pressed_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_pressed_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_pressed_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_pressed_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,404},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bigTV_pressed_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigTV.png</string>
            <key>size</key>
            <string>{1952,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde4b673c77b7445363c04a41233c826:c17a4e526d5a4fc5e05e7528ef4c4aa4:65d0d12b8d35325c27b34f9fac153881$</string>
            <key>textureFileName</key>
            <string>bigTV.png</string>
        </dict>
    </dict>
</plist>
