<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changeChannel_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>changeChannel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,194},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>changeChannel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,194},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>changeChannel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,194},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>changeChannel_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{388,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>control_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{190,590}}</string>
                <key>sourceSize</key>
                <string>{200,600}</string>
            </dict>
            <key>control_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{190,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{190,590}}</string>
                <key>sourceSize</key>
                <string>{200,600}</string>
            </dict>
            <key>control_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{190,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{190,590}}</string>
                <key>sourceSize</key>
                <string>{200,600}</string>
            </dict>
            <key>control_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{190,590}}</string>
                <key>sourceSize</key>
                <string>{200,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>control.png</string>
            <key>size</key>
            <string>{1778,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd81e78443c8deda400829dd5d05e6f5:78dc5dc33fdac06695a04d7b5e147dab:71bc14310e35796eea608d945b43b8fe$</string>
            <key>textureFileName</key>
            <string>control.png</string>
        </dict>
    </dict>
</plist>
