<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TV_Degeneration_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,2},{108,62}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,39},{108,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Degeneration_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{114,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,39},{114,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Degeneration_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{46,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,2},{46,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Degeneration_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,118},{44,96}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{44,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Degeneration_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{86,116}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{86,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Degeneration_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,2},{100,78}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{100,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Degeneration_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,2},{76,104}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{76,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Degeneration_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{80,112}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{80,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Dive_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,82},{70,100}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{70,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Dive_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{112,70}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{112,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Dive_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{118,46}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,44},{118,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Emersion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{114,80}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{114,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Emersion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{82,112}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{82,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Emersion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{80,112}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{80,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Evolve_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{80,112}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{80,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Evolve_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,2},{76,104}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{76,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Evolve_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,2},{100,78}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{100,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Evolve_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{82,110}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{82,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Evolve_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{86,116}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{86,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Evolve_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{46,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,4},{46,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Evolve_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,112},{50,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,20},{50,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Evolve_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{114,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{114,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Evolve_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,2},{108,62}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,39},{108,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Flap_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{114,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{114,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Flap_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{114,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{114,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Flap_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{114,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{114,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Flap_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{114,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{114,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Fly_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{108,62}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Fly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,2},{108,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{108,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Fly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{108,62}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Fly_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{108,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{108,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,112},{54,102}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{54,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_Jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,114},{52,80}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,44},{52,80}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_Jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,118},{44,112}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{44,112}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_Jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{44,124}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_Jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{50,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{50,122}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_MoonWalk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,116},{50,106}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,18},{50,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_MoonWalk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,116},{50,106}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{50,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_MoonWalk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,116},{50,106}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,18},{50,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_MoonWalk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,112},{54,106}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{54,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_Run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{44,118}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,118}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_Run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{42,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{42,120}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_Run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{38,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{38,120}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_Run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,122},{44,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{44,118}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>TV_Stand_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{44,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{44,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Stand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,118},{48,110}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,14},{48,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Stand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{44,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{44,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Stand_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,118},{48,110}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,14},{48,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_Swim_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{116,30}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{116,30}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Swim_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,120},{114,46}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{114,46}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Swim_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{114,30}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{114,30}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_Swim_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,122},{116,44}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{116,44}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>TV_turn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{112,58}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{112,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TV_turn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{112,56}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,30},{112,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TV.png</string>
            <key>size</key>
            <string>{1936,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee27478d745ed060114ed8ad65e69ca9:4b7432b50999c125985ea719f2a118d4:083a3ed0a2d85543334c99f463e87a23$</string>
            <key>textureFileName</key>
            <string>TV.png</string>
        </dict>
    </dict>
</plist>
